<style>

</style>


<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>控制台</em>用于展示当前系统中的统计数据、统计报表及重要实时数据</div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>
            <li><a href="#two" data-toggle="tab">{:__('Custom')}</a></li>
        </ul>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-sm-3 col-xs-6">

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                这里是你的自定义数据
            </div>
        </div>

    </div>

</div>